.search-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.search-input {
  width: 300px;
  padding: 14px;
  box-sizing: border-box;
  color: var(--vintageBlueLight);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .search-input {
    width: 250px;
  }
}
